#page-landing {
  display: flex;
  height: 100vh;
  max-height: 98rem;
  width: 100vw;
}

#page-landing .form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center ;
}

#page-landing .form Form{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77.2rem;
  height: 46.6rem;
  position: relative;
  
}

#page-landing .form Form fieldset{
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 1;
  background: #ffff;
  color: black;
  padding: 5rem;
}


#page-landing .form Form fieldset .block1 {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-left: 5rem;
}
#page-landing .form Form fieldset .block101 {
  display: flex;
  width: 100%;
  flex-direction: row;
  
}
#page-landing .form Form fieldset .inputDirection{
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  
  
}

#page-landing .form Form fieldset .block2 {
  display: flex;
  width: 100%;
  flex-direction: row;
  
}

#page-landing .form Form fieldset .buttomMachine{
  border: 0;
  background: none;
  margin-top: 2rem;
  margin-left: 2rem;
  outline: none;
}
#page-landing .form Form fieldset .buttomInput{
  border: 0;
  margin-top: 2rem;
  margin-left: 2rem;
  background: none;
  outline: none;
}

#page-landing .form Form fieldset .formButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 4rem;
  border-radius: 1.5rem;
  outline: none;
  background: #617AD6;
  color: #ffff;
  font-weight: 800;
  margin-top: 2rem;
}

#page-landing .form Form fieldset .positionButtom{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

#page-landing .form Form fieldset input{
  border-radius: 3rem;
  outline: none;
}

