#page-landing {
  display: flex;
  height: 100vh;
  max-height: 98rem;
  width: 100vw;
}

#formulario {
  display: flex;
  width: 100vw;
  justify-content: center;
  
  align-items: center;
  position: relative;
}

#formulario Form {
  display: flex;
  justify-content: center;
  width: 77.2rem;
  max-width: 77.2rem;
  height: 46.6rem;
  padding-left: 12rem;
  
}

#formulario Form fieldset {
  display: flex;
  justify-content: center;

  flex-direction: column;
  width: 77.2rem;
  max-width: 77.2rem;
  border: none;
  position: relative;
}

.colum01{
  display: flex;
  align-items: center;
  
}
.colum02{
  display: flex;
  align-items: center;
     
}
.colum03{
  display: flex;
  flex-direction: row;
  align-items: center;
  

}
.colum04{
  display: flex;
  flex-direction: row;
}
.colum05{
  display: flex;
  flex-direction: row;
}

#formulario Form fieldset Input{
  border-radius: 1.1rem;
  height: 3rem;
  margin: 2rem;
  outline: none;
  
}

#formulario Form fieldset .os{
  width: 10rem;
  margin-right: 5rem;
}
#formulario Form fieldset .location{
  width: 53rem;

}
#formulario Form fieldset .initial{
  width: auto;
}
#formulario Form fieldset .final{
  width: auto;
}
#formulario Form fieldset .operator{
  width: 53rem;
}

#formulario Form fieldset .buttonMachine{
  display: flex;
  justify-content: center;
  border: none;
  background: none;
  align-items: center;
  width: auto;
  height: 3rem;
  margin-left: 1.3rem;
  
}
#formulario Form fieldset .buttonInput{
  display: flex;
  justify-content: center;
  border: none;
  background: none;
  border: none;
  align-items: center;
  width: auto;
  height: 3rem;
  margin-left: 4.2rem;
  outline: none;
  
}

#formulario Form fieldset .formButton {
    position: absolute;
    width: 12rem;
    height: 4rem;
    background: #617AD6;  
    font-size: 1.8rem;
    color: #fff;
    right: 0;
    bottom: 0;
    border-radius: 0.4rem;
    margin-top: 5rem;
    outline: none;
    
}

label{
  color: gray;
}



