#page-landing {
  height: 100vh;
  width: 100vw;

  position: relative;
  display: flex;
}

#registros {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#registros .search {
  display: flex;
  width: 77.2rem;
  height: 4.9rem;
  outline: none;
  background: url(../../images/search.svg) no-repeat scroll 0.7rem 0.7rem ;
  padding-left: 3.5rem;
  border-radius: 3rem;
  background-color: #fff;
  margin: 7.2rem;
  
}

#registros .container{
  display: flex;
  height: 100vh;
  width: 50%;
  margin-left: 13.1rem;
  margin-right: 13.1rem;
  background: #fff;
  position: relative;
}

#registros .filter{
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

#registros div .filterDate{
    border: 10rem;
    border-color:  red;
    outline: none;
    background: none;

}

#registros .container .card{
  display: flex;
  flex-direction: column;
  background: rgba(128, 128, 128, 0.61);
  height: 5rem;
  width: 100%;
  color: black;
  
  
}

#registros .container .card  button {
  background: none;
  border: 0;
  outline: none;
  transition: 0.3s;
  margin-top: 0.5rem;
}

#registros .container .card  button:active{
  background: rgba(245, 221, 221, 0.63);
}

#registros .container .card  .buttonDelete{
  position: absolute;
  right: 0;
}
#registros .container .card  .buttonDetails{
  position: absolute;
  right: 0;
  margin-right: 4rem;
}








